In [4]:
import pandas as pd
import numpy as np

In [112]:
crimes = pd.DataFrame(columns=['SETOR', 'DATA', 'RUBRICA', 'LATITUDE', 'LONGITUDE'])

In [113]:

for year in range(2006, 2018):
    df = pd.read_excel(f'../dataset/Crimes/Base_Crimes_Estabelecimento_Comercial_2006_2017 - Marcelo/REC{year}.xlsx')
    setor_feature = [column for column in df.columns if 'SETOR' in column][0]

    df['SETOR'] = df[setor_feature]

    df['DATA'] = df['DATA_OCORRENCIA'] + pd.to_timedelta(df['HORA_OCORRENCIA'].apply(str))

    df = df[['SETOR', 'DATA', 'RUBRICA', 'LATITUDE', 'LONGITUDE']]

    crimes = pd.concat([crimes, df])

In [124]:
for year in range(2006, 2018):
    df = pd.read_excel(f'../dataset/Crimes/Base_Crimes_Roubo_Veiculo_2006_2017 - Marcelo/RV{year}_CeMEAI_.xlsx')
    setor_feature = [column for column in df.columns if 'SETOR' in column][0]

    df['SETOR'] = df[setor_feature]



    df['DATA'] = df['DATA_OCORRENCIA'] + pd.to_timedelta(df['HORA_OCORRENCIA'].apply(str))

    df = df[['SETOR', 'DATA', 'RUBRICA', 'LATITUDE', 'LONGITUDE']]

    crimes = pd.concat([crimes, df])

In [ ]:
for year in range(2006, 2018):
    df = pd.read_excel(f'../dataset/Crimes/Base_Crimes_Transeunte_2006_2017 - Marcelo/RT{year}_CeMEAI_.xlsx')
    setor_feature = [column for column in df.columns if 'SETOR' in column][0]

    df['SETOR'] = df[setor_feature]

    df['DATA'] = df['DATA_OCORRENCIA'] + pd.to_timedelta(df['HORA_OCORRENCIA'].apply(str))

    df = df[['SETOR', 'DATA', 'RUBRICA', 'LATITUDE', 'LONGITUDE']]

    crimes = pd.concat([crimes, df])

In [43]:
crimes = crimes.sort_values(['SETOR', 'DATA']).reset_index(drop=True)
crimes['LATITUDE'] = crimes['LATITUDE'].apply(lambda value : float(str(value).replace(',', '.')))
crimes['LONGITUDE'] = crimes['LONGITUDE'].apply(lambda value : float(str(value).replace(',', '.')))
crimes['SETOR'] = crimes['SETOR'].apply(lambda row : row if pd.isna(row) else str(int(row)))

crimes = crimes.dropna(subset='SETOR')
crimes = crimes[crimes['SETOR'] != '0']

In [75]:
crimes.to_csv("../dataset/Crimes/Listagem_Geral.csv")
crimes.head()

,SETOR,DATA,RUBRICA,LATITUDE,LONGITUDE
164,350900705000073,2017-03-19 19:45:00,Roubo (art. 157) - VEICULO,-23.389156,-46.738137
165,351380105000018,2017-08-26 14:30:00,Roubo (art. 157) - VEICULO,-23.678342,-46.630919
166,351380105000020,2017-10-18 23:10:00,Roubo (art. 157) - VEICULO,-23.673392,-46.631236
167,351380105000031,2017-09-19 03:18:00,Roubo (art. 157) - VEICULO,-23.694703,-46.632279
168,351380105000035,2017-04-29 05:00:00,Roubo (art. 157) - VEICULO,-23.687347,-46.633541

In [67]:
crimes['SETOR'] = crimes['SETOR'].apply(lambda row : row if pd.isna(row) else str(int(row)))

/tmp/ipykernel_202700/3164387704.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
crimes

,SETOR,DATA,RUBRICA,LATITUDE,LONGITUDE
0,0,2006-01-11 11:00:00,Roubo (art. 157),-46.759060,-23.499878
1,0,2006-02-02 18:20:00,Roubo (art. 157),-46.633502,-23.684184
2,0,2006-03-26 22:45:00,Roubo (art. 157),-46.629462,-23.675887
3,0,2006-04-01 22:30:00,Roubo (art. 157),-46.633588,-23.682537
4,0,2006-04-26 22:00:00,Roubo (art. 157),-46.629715,-23.675736
...,...,...,...,...,...
1140800,355030896000247,2017-10-24 05:20:00,Roubo (art. 157) - TRANSEUNTE,-23.544773,-46.397234
1140801,355030896000247,NaN,Roubo (art. 157) - TRANSEUNTE,-23.545410,-46.396534
1140802,355030896000247,NaN,Roubo (art. 157) - TRANSEUNTE,-23.548463,-46.390102
1140803,355030896000247,NaN,Roubo (art. 157) - TRANSEUNTE,-23.545273,-46.396587
1140804,355280905000236,2017-09-14 01:10:00,Roubo (art. 157) - VEICULO,-23.603268,-46.779699

In [59]:
crimes = pd.read_csv("../dataset/Crimes/Listagem_Geral.csv", index_col=0)

/tmp/ipykernel_202700/2285089097.py:1: DtypeWarning:

Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.